body {
    margin: 0;
    font-family: 'Righteous', cursive;
    color: #444;
    display: flex;
}

a {
    text-decoration: none;
    color: #eee;
}

.material-icons {
    user-select: none;
}

main {
    padding: 16px;
    background: #eee;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

main header {
    position: relative;
}

main header h1 {
    text-align:  center;
    margin: 0;
}

main header img {
    width: 320px;
}

.sub-nav {
    display: none;
}

.sub-nav img {
    user-select: none;
}

.profiel-icon {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: inline-block;
}

.profiel-icon img {
    width: 80px;
    user-select: none;
}

#mask {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    z-index: 2;
}

.gallery {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px auto 0;
}

.gallery .products {
    width: 128px;
    height: 128px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: -4px -4px 8px rgb(255, 255, 255),
                4px 4px 8px rgb(194, 193, 193);
    border: 4px solid #eee;
    transition: all .3s;
    margin-bottom: 24px;
}

.gallery .products:nth-child(odd) {
    margin: 0 24px 0 0;
}

.gallery .products img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#popup {
    width: 80%;
    color: #eee;
    text-align: center;
    background: #d9bd29;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 16px 8px;
    border-radius: 8px;
    box-shadow: 0 0 16px #666;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
    z-index: 99;
}

.mask-on {
    display: block;
}

#popup > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#popup .material-icons {
    font-size: 32px;
    padding: 4px;
    cursor: pointer;
}

.popup-img-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.popup-img-container #prev {
    position: absolute;
    top: 140px;
    left: 0;
    font-size: 42px;
}

.popup-img-container #next {
    position: absolute;
    top: 140px;
    right: 0;
    font-size: 42px;
}

.popup_img {
    width: 75%;
    border: 8px solid #eee;
    box-sizing: border-box;
    user-select: none;
}

#popup_title {
    font-size: 14px;
    font-weight: normal;
    margin: 8px 0;
}

#popup_title span {
    font-size: 24px;
    letter-spacing: 2px;
    display: block;
}

.profiles {
    width: 320px;
    margin: 8px auto 0;
}

.profiles > h2 {
    margin: 0;
}

.profiles > h2 img {
    width: 140px;
}

.profiles h2 + p {
    letter-spacing: 0.5px;
    margin: 16px 0 0;
}

.profiles .person {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 24px auto 0;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: -4px -4px 8px rgb(255, 255, 255),
                4px 4px 8px rgb(194, 193, 193);
}

.profiles .person > img {
    width: 48px;
    object-fit: contain;
    margin-right: 16px;
}

.profiles .person .name {
    display: flex;
    align-items: center;
}

.profiles .person .name h2 {
    letter-spacing: 1px;
    margin: 0 8px 0 0;
    font-size: 18px;
}

.profiles .person .name p {
    letter-spacing: .5px;
    font-size: 14px;
    margin: 0;
}

.profiles .person .name img {
    width: 12px;
    object-fit: contain;
}

.profiles .person .desc p {
    font-size: 14px;
    letter-spacing: .5px;
    margin: 8px 0 0 0;
}

footer {
    text-align: center;
    margin: 0;
}

main .service-title {
    text-align: center;
    padding-top: 30px;
    margin: 0;
}

.privacy {
    padding: 40px;
    font-family: 'Zen Kurenaido', sans-serif;
}

.privacy h1 {
    margin: 0 0 40px 0;
}

.privacy h2 {
    font-size: 22px;
}

.privacy p {
    margin-bottom: 40px;
    line-height: 1.8;
}

.privacy a {
    background: #555;
    border-radius: 8px;
    padding: 16px;
    margin: 24px auto 0;
    display: block;
    text-align: center;
    max-width: 400px;
}

.privacy a:hover {
    opacity: 0.8;
}

@media (min-width: 800px) {

    main {
        padding: 64px;
        min-height: 100vh;
        width: 100%;
        position: relative;
    }

    main .service-title {
        padding-top: 0;
    }

    main header img {
        width: 560px;
    }
    
    /* main header .material-icons {
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        padding: 16px;
        transition: box-shadow 0.3s;
        border-radius: 50%;
    } */
    
    /* main header .material-icons:hover {
        box-shadow: -4px -4px 8px #859cbe,
                    4px 4px 8px #4a576b;
    } */
    
    .sub-nav {
        background: #75b3d6;
        width: 200px;
        box-sizing: border-box;
        padding: 40px;
        min-height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    .sub-nav img {
        width: 120px;
        box-sizing: border-box;
        cursor: pointer;
        padding: 16px;
        transition: box-shadow 0.3s;
        border-radius: 20%;
    }
    
    .sub-nav img:hover {
        box-shadow: -4px -4px 8px #84c9f1,
                    4px 4px 8px #5b8ca8;
    }
    
    .gallery {
        width: 840px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 32px auto 0;
    }
    
    .gallery .products {
        width: 160px;
        height: 160px;
    }

    #popup {
        width: 600px;
        color: #eee;
        text-align: center;
        background: #d9bd29;
        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        margin: auto;
        padding: 24px 32px 32px;
        border-radius: 8px;
        box-shadow: 0 0 16px #666;
    }

    #popup > div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    #popup .material-icons {
        font-size: 48px;
        line-height: 48px;
        border-radius: 50%;
        transition: all .3s;
        cursor: pointer;
    }

    #popup .material-icons:hover {
        box-shadow: -4px -4px 8px #eecf35,
                    4px 4px 8px #bea421;
    }

    .popup_img_container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #popup_img {
        width: 100%;
        margin: 0 auto;
    }

    #popup_img img {
        margin-bottom: 16px;
    }

    #popup #prev {
        font-size: 52px;
        top: 260px;
        left: 24px;
    }

    #popup #next {
        font-size: 52px;
        top: 260px;
        right: 24px;
    }

    #popup_title {
        margin: 0;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    
    #popup_title span {
        letter-spacing: 4px;
        font-weight: bold;
        font-size: 32px;
    }

    .profiles {
        width: 640px;
        margin: 64px auto 0;
    }
    
    .profiles > h2 {
        margin: 0;
    }
    
    .profiles > h2 img {
        width: 200px;
    }

    .profiles h2 + p {
        letter-spacing: 2.5px;
        margin: 16px 0 0;
    }
    
    .profiles .person {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 40px auto 0;
        padding: 40px;
        border-radius: 8px;
        box-shadow: -4px -4px 8px rgb(255, 255, 255),
                    4px 4px 8px rgb(194, 193, 193);
    }

    .profiles .person > img {
        width: 80px;
        margin-right: 40px;
    }
    
    .profiles .person .name {
        display: flex;
        align-items: center;
    }
    
    .profiles .person .name h2 {
        letter-spacing: 2px;
        margin: 0 8px 0 0;
    }

    .profiles .person .name p {
        letter-spacing: 2px;
        margin: 0;
    }
    
    .profiles .person .name img {
        width: 16px;
        object-fit: contain;
    }
    
    .profiles .person p {
        margin: 16px 0 0 0;
    }

    .profile .desc {
        margin-top: 64px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .profile .desc img {
        margin-right: 40px; 
    }
    
    .profile .desc h2 {
        margin: 0;
        letter-spacing: 2px;
        font-size: 20px;
    }

    .contact {
        background: #eee;
        width: 800px;
        margin: 64px auto 0;
    }

    .profiel-icon {
        display: none;
    }

    footer {
        margin-top: 40px;
    }
}
